.imagesContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.imagesContainer img{
    padding: 1rem;
    border: 1px solid #D495F0;
    cursor: pointer;
}