.container{
    position: fixed;
    width: 100%;
    padding: 20px 0px;
}
.links{
    width: min(90%, 93.75rem);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.links a{
    text-transform: uppercase;
    color: #2D0041;
    font-weight: bold;
    cursor: pointer;
}
.links i{
    color: #9A66B6;
    font-size: 0.45rem;
}
.links .image_logo{
    width: 60px;
}