.container{
    width: min(90%, 93.75rem);
    margin-inline: auto;
    padding: 30px 0px;
}
.newArrivalContent{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    margin-top: 20px;
}
.newArrival .text{
    color: #2D0041;
    text-transform: uppercase;
    font-weight: bold;
}

.newArrival .text span{
    color: #FBA3CD;
    text-transform: none;
    margin-left: 10px;
    font-weight: normal;
}